# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
.venv/
venv/
env/

# Ignore Git-related files
.git/
.gitignore

.DS_Store

# Ignore Dockerfile and related files (optional, but can be useful)
Dockerfile
docker-compose.yml

# Ignore environment variables files
.env
.env.*

# Ignore build artifacts or distribution files
dist/
build/
uploads/*